/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1, h3 {
  color: #5d5d5d;
}

h2 {
  color: #1e1e1e;
}

/* Main Page Styling */
.main-page {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Hide and Show Elements */
.hidden {
  display: none;
}

/* Quiz Section Styling */
#quiz-section {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Question List Styling */
#question-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.question-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question-item button {
  background-color: #f44336;
  margin: 5px;
}

.question-item button.edit-btn {
  background-color: #4CAF50;
}

.question-item button:hover {
  opacity: 0.8;
}

/* Score Styling */
#score-container {
  margin-top: 20px;
}

#score {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
/* Back Buttons */
#back-to-main-page-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
